*{
	margin: 0;
	padding: 0;
	font-family: 'Abel', sans-serif;
}

html, body{
	height: 100%;
	background-color: #ecf0f1;
}

nav{
	width: 100%;
	height: 200px;
	background: #f1c40f;
	position: absolute;
}

/*Pantalla principal*/
.bienvenida{
	width: 100%;
	height: 25px;
	margin-top: 220px;
	float: left;
	text-align: center;
}

.bienvenida h1{
	font-size: 1.8em;
	color: #f1c40f;
	text-align: center;
}

.login{
	display: flex;
	margin: 0 auto;
	margin-top: 30px;
}

.datosUsarios{
	width: 100%;
	top: 210px;
	height: 100%;
}

.datoUsuario{
	width: 100%;
	height: 50px;
	float: left;
	margin-bottom: 20px;
}

.separacion{
	margin-top: 55px;
}

.datoUsuario>input[type="text"]{
	margin-bottom: 10px;
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 1px solid #f1c40f;
	height: 40px;
	width: calc(100% - 70px);
	float: left;
	font-size: 1em;
	margin-left: 35px;
	background-color: transparent;
	outline: none;
}

.datoUsuario>input[type="password"]{
	margin-bottom: 10px;
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 1px solid #f1c40f;
	height: 40px;
	width: calc(100% - 70px);
	float: left;
	font-size: 1em;
	margin-left: 35px;
	background-color: transparent;
	outline: none;
}

.loginAccount{
	width: calc(100% - 90px);
	height: 38px;
	float: left;
	margin-left: 45px;
	margin-top: 20px;
	outline: none;
	border-radius: 5px;
	border: none;
	font-size: 1.1em;
	color: white;
	background-color: #f1c40f;

}

.olvidarPass{
	float: left;
	margin-top: 20px;
	width: 100%;
	height: 25px;
	text-align: center;
}

.olvidarPass h1{
	text-align: center;
	color: #f1c40f;
	font-size: 1em;
}

.nuevaAccount{
	width: calc(100% - 110px);
	height: 32px;
	margin-top: 35px;
	float: left;
	margin-left: 55px;
	outline: none;
	border-radius: 5px;
	border: none;
	font-size: 1em;
	color: white;
	background-color: #2ecc71;
	margin-bottom: 20px;
}

.label{
	color: gray;
	margin-left: 35px;
	position: absolute;
	float: left;
	margin-top: -10px;
	transition: .1s all;
	/*z-index: -10;*/
}

.escondido{
	margin-top: 10px;
}

.navegacion{
	position: fixed;
	height: 45px;
	width: 100%;
	background: #f1c40f;
}

.navegacion img{
	width: 35px;
	height: 35px;
	margin-top: 5px;
	-webkit-filter:invert(100%) brightness(500%) saturate(0%);
	float: left;
}

.crearCuenta{
	width: 100%;
	height: 25px;
	margin-top: 60px;
	float: left;
	text-align: center;
}

.crearCuenta h1{
	font-size: 1.4em;
	color: #f1c40f;
	text-align: center;
}

.registrosUsuario{
	width: 100%;
	top: 100px;
	height: 100%;
}

.crearAccount{
	width: calc(100% - 90px);
	height: 38px;
	float: left;
	margin-left: 45px;
	margin-top: 50px;
	outline: none;
	border-radius: 5px;
	border: none;
	font-size: 1.1em;
	color: white;
	background-color: #f1c40f;
	margin-bottom: 20px;
}

.navegacion h1{
	text-align: center;
	color: white;
	font-size: 1.3em;
	margin-top: 8px; 
}

.menu {
	height: 50px;
	width: 100%;
	background: #ecf0f1;
	position: fixed;
	bottom: 0px;
	border-top: 1px solid #f1c40f;
}

.activo{
	border-bottom: 4px solid #95a5a6;
	box-sizing: border-box;
}

.navInicio{
	height: 50px;
	line-height: 60px;
	list-style-type: none;
	float: left;
	width: 20%;
	text-align: center;
}

.fa{
	color: #bdc3c7;
}

.iconActivo{
	color: #7f8c8d;
}

/*Pantalla antes de ir a inicio*/
.imgCafe{
	width: 100%;
	height: 100px;
	float: left;
}

.imgCafe img{
	display: flex;
	margin: 0 auto;
	margin-top: 70px;
	width: 100px;
	height: 100px;
}

.selCaf{
	float: left;
	margin-top: 100px;
	width: 100%;
	height: 25px;
	text-align: center;
}

.selCaf h1{
	text-align: center;
	color: #f1c40f;
	font-size: 2em;
}

.opciones{
   	margin:20px auto 40px auto;	
   	height: 45px;
   	overflow: hidden;
   	width: calc(100% - 60px);
   	position:relative;
   	float: left;
   	margin-left: 40px;
   	margin-top: 20px;
}

select{
	background: transparent;
   	font-size: 1.3em;
   	height: 45px;
   	padding: 10px;
   	width: calc(100% - 25px);
   	border-radius: 5px;
   	border: 1.2px solid #f1c40f;
   	float: left;
}

select:focus{
	outline: none;
}

.opciones::after{
	content:"\025be";
	display:table-cell;
	padding-top:10px;
	text-align:center;
	width:30px;
	height:45px;
	background-color:#f1c40f;
	position:absolute;
	right: 25px;	
	pointer-events: none;
	color: white;
}

.aceptarCaf{
	width: calc(100% - 150px);
	height: 32px;
	margin-top: -10px;
	float: left;
	margin-left: 70px;
	outline: none;
	border-radius: 5px;
	border: none;
	font-size: 1.1em;
	color: white;
	background-color: #f1c40f;
}

.omitir{
	float: left;
	width: 100%;
	height: 25px;
	text-align: center;
	margin-top: 40px;
}

.omitir h1{
	text-align: center;
	color: #2ecc71;
	font-size: 1.2em;
}



/*Pantalla de inicio*/
.contenedor{
	width: 100%;
	height: calc(100% - 95px);
	float: left;
	margin-top: 50px;
}

.promo{
	width: calc(100% - 20px);
	min-height: calc(50% - 10px);
	margin: 10px 10px 0px 10px;
	background-color: #16a085;
	float: left;
}

#promos{
	width: 100%;
	height: 30px;
	background: #16a085;
	transition: .4s all;
}
	.verOpcionPromo{
		height: 500px !important;
		margin-bottom: 0px !important;
		transition: .4s all !important;
	}

.cafe{
	min-height: calc(30% - 10px);
	width: calc(50% - 20px);
	background-color: #2c3e50;
	float: left;
	margin: 10px 10px 0px 10px;
}

#cafes{
	width: 100%;
	height: 30px;
	background: #2c3e50;
	transition: .4s all;
}
	.verOpcionCafes{
		height: 500px !important;
		margin-bottom: 0px !important;
		transition: .4s all !important;
	}

.postres{
	height: calc(30% - 10px);
	width: calc(50% - 20px);
	background-color: #2c3e50;
	float: right;
	margin: 10px 10px 0px 10px;
}

.masVendido{
	width: calc(100% - 20px);
	min-height: calc(30% - 5px);
	background-color: #9b59b6;
	float: left;
	margin: 10px 10px 70px 10px;
}

#mVendido{
	width: 100%;
	height: 30px;
	background: #9b59b6;
	transition: .4s all;
}
	.verOpcionVendido{
		height: 500px !important;
		margin-bottom: 0px !important;
		transition: .4s all !important;
	}

.promo>h1{
	color: white;
	margin-top: 20px;
	text-align: center;
	font-size: 2.5em;
}

.cafe>h1{
	color: white;
	margin-top: 20px;
	text-align: center;
	font-size: 2em;
}

/*.postres button{
	background: #2c3e50;
	border: none;
	width: 100%;
	height: 100%;
	outline: none;
	color: #ecf0f1;
	font-size: 2em;
	text-align: left;
	padding-bottom: 20px;
	float: left;
}

*/
.masVendido>h1{
	color: white;
	margin-top: 20px;
	text-align: center;
	font-size: 2.5em;
}

/*Pantalla de menú*/
.fa-chevron-circle-down{
	color: white;  
}

.fa-chevron-circle-up{
	color: white;
}

.categoria{
	width: calc(100% - 20px);
	min-height: calc(30% - 5px);
	float: left;
	margin-left: 10px;
	margin-right: 10px;
} 

.uno{
	background-color: #e74c3c;
	margin-top: 10px;
}

.uno>h1{
	color: white;
	margin-top: 20px;
	text-align: center;
}
#comida{
 	width: 100%;
	height: 30px;
	background: #e74c3c;
	transition: .4s all;
}
	
	.verOpcionCom{
		height: 500px !important;
		margin-bottom: 0px !important;
		transition: .4s all !important;
	}

.dos{
	background-color: #27ae60;
	margin-top: 10px;
}

.dos>h1{
	color: white;
	margin-top: 20px;
	text-align: center;
}

#bebidas{
	width: 100%;
	height: 30px;
	background: #27ae60;
	transition: .4s all;
}
	.verOpcionBe{
		height: 500px !important;
		margin-bottom: 0px !important;
		transition: .4s all !important;
	}

.tres{
	background-color: #3498db;
	margin-top: 10px;
}

.tres>h1{
	color: white;
	margin-top: 20px;
	text-align: center;
}

#desayunos{
	width: 100%;
	height: 30px;
	background: #3498db;
	transition: .4s all;
}
	.verOpcionDe{
		height: 500px !important;
		margin-bottom: 0px !important;
		transition: .4s all !important;
	}

.cuatro{
	background-color: #2c3e50;
	margin-top: 10px;
}

.cuatro>h1{
	color: white;
	margin-top: 20px;
	text-align: center;
}

#postres{
	width: 100%;
	height: 30px;
	background: #2c3e50;
	transition: .4s all;
}
	
	.verOpcionPo{
		height: 500px !important;
		margin-bottom: 0px !important;
		transition: .4s all !important;
	}

.fin{
	margin-bottom: 70px;
}

/*Pantalla de búsqueda*/

.busqueda{
	width: 100%;
	height: 45px;
}

.busqueda input#buscar{
	width: calc(100% - 50px);
  	height: 35px;
  	margin-top: 6px;
  	background: transparent;
  	border: none;
  	font-size: 1em;
  	float: left;
  	margin-left: 23px;
  	color: white;
  	padding-left: 35px;
  	border-right: none;
  	border-left: none;
  	border-top: none;
  	border-bottom: 2px solid white;
  	outline: none;
}

.busqueda input#buscar::-webkit-input-placeholder {
   color: #ecf0f1;
}
/*icono de búsqueda en la barra de buscar*/
.busqueda .icon{
	position: absolute;
  	top: -22%;
  	margin-left: 25px;
  	margin-top: 17px;
  	z-index: 1;
  	color: #4f5b66;
}

.busqueda img{
	width: 20px;
	height: 20px;
}

/*Carrito de compras*/

.productos{
	position: fixed;
	width: 100%;
	top: 45px;
}

.producto{
	margin-top: 15px;
	float: left;
	margin-left: 90px;
	height: 60px;
	width: 60px;
	border-style: dotted;
}

.productoDesc>input[type="text"]{
	width: calc(50% - 50px);
	height: 30px;
	margin-left: 15px;
	float: left;
	outline: none;
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 2px solid yellow;
	margin-top: 45px;
	background-color: transparent;
}

.pagar{
	width: 100%;
	height: 40px;
	float: left;
	margin-top: 200px;
}

.pagar>input[type="text"]{
	width: calc(100% - 120px);
	height: 37px;
	border-right: none;
	border-left: none;
	border-top: none;
	float: left;
	margin-left: 45px;
	padding-left: 30px;
	outline: none;
	border-bottom: 1px solid #f1c40f;
	background-color: transparent;

}

.ordenar{
	width: calc(100% - 220px);
	height: 38px;
	float: left;
	margin-left: 110px;
	margin-top: 30px;
	outline: none;
	border-radius: 20px;
	border: none;
	font-size: 1.1em;
	color: white;
	background-color: #1abc9c;
	margin-bottom: 70px;
}

/*Corresponde a perfil del usuario*/
.perfilUsuario{
	height: 150px;
	float: left;
	margin-left: 38px;
	width: calc(100% - 80px);
	text-align: center;
	background-image: url(perfil2.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 10px;
}

.datosCuenta{
	top: 200px;
	width: 100%;
	height: 100%;
}

.separar{
	margin-top: 50px;
}
.datoCuenta{
	width: 100%;
	height: 50px;
	float: left;
	margin-bottom: 20px; 
}

.datoCuenta>input{
	margin-bottom: 10px;
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 1.3px solid #f1c40f;
	height: 40px;
	width: calc(100% - 70px);
	float: left;
	font-size: 1em;
	margin-left: 35px;
	background-color: transparent;
	outline: none;
}


input:focus{
	border-bottom: 3px solid #f1c40f;
}


.editar{
	width: calc(100% - 190px);
	height: 38px;
	float: left;
	margin-left: 95px;
	margin-top: 20px;
	outline: none;
	border-radius: 5px;
	border: none;
	font-size: 1.1em;
	color: white;
	background-color: #f1c40f;
	margin-bottom: 70px;
}

.save{
	width: calc(100% - 190px);
	height: 38px;
	float: left;
	margin-left: 95px;
	margin-top: 20px;
	outline: none;
	border-radius: 5px;
	border: none;
	font-size: 1.1em;
	color: white;
	background-color: #2ecc71;
	margin-bottom: 70px;
}
/*.menu2{
	width: calc(100% - 20px);
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	text-align: center;	
}

.menu2 p{
	opacity: 0;
}

#c1{
	width: 100%;
	height: 30px;
	background: yellow;
	transition: .4s all;
	margin-bottom: 10px;
}
	
	

	.verOpcion p{
		opacity: 1;
		padding-top: 50px;
		transition: .4s all;
		text-align: center;
	}		

#c2{
	width: 100%;
	height: 30px;
	background: red;
	transition: .4s all;
	margin-bottom: 70px;
}*/